<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.chw.game.inject.InjectMetaDataNature"
         name="元数据性质"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.chw.game.inject.inject.project.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.chw.game.inject.InjectMetaDataMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/injectIcon.gif"
            id="org.chw.game.injectProjectDecorator"
            label="注入增强项目修饰符"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectState
                     name="nature"
                     value="org.chw.game.inject.InjectMetaDataNature">
               </objectState>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </and>
         </enablement>
         <description>
            注入增强项目修饰符
         </description>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/moduleIcon.gif"
            id="org.chw.game.injectModuleDecorator"
            label="注入增强模块修饰符"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.chw.game.inject.InjectMetaDataNature">
               </objectState>
               <objectState
                     name="persistentProperty"
                     value="chw_inject.module_file">
               </objectState>
            </and></enablement>
         <description>
            注入增强模块修饰符
         </description>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/noticeIcon.gif"
            id="org.chw.game.injectNoticeDecorator"
            label="注入增强消息修饰符"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.chw.game.inject.InjectMetaDataNature">
               </objectState>
               <objectState
                     name="persistentProperty"
                     value="chw_inject.notice_file">
               </objectState>
            </and></enablement>
         <description>
            注入增强消息修饰符
         </description>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/interfaceIcon1.gif"
            id="org.chw.game.injectInterfaceDecorator"
            label="注入增强接口修饰符"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.chw.game.inject.InjectMetaDataNature">
               </objectState>
               <objectState
                     name="persistentProperty"
                     value="chw_inject.interface_file">
               </objectState>
            </and></enablement>
         <description>
            注入增强接口修饰符
         </description>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/enumIcon1.gif"
            id="org.chw.game.injectEnumDecorator"
            label="注入增强枚举修饰符"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
               <objectState
                     name="projectNature"
                     value="org.chw.game.inject.InjectMetaDataNature">
               </objectState>
               <objectState
                     name="persistentProperty"
                     value="chw_inject.enum_file">
               </objectState>
            </and></enablement>
         <description>
            注入增强枚举修饰符
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.chw.game.config.add"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.chw.game.inject.inject.act.ToggleNatureAction:1"
               enablesFor="1"
               icon="icons/config.png"
               id="org.chw.flash.addAction"
               label="添加元数据处理器"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               overrideActionId="org.eclipse.xtext.builder.action.AddXtextNatureAction">
         </action>
         <visibility>
            <and>
               <not>
                  <objectState
                        name="nature"
                        value="org.chw.game.inject.InjectMetaDataNature">
                  </objectState></not>
               <objectState
                     name="nature"
                     value="com.adobe.flexbuilder.project.actionscriptnature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.chw.game.config.del"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.chw.game.inject.inject.act.ToggleNatureAction:2"
               enablesFor="1"
               icon="icons/config.png"
               id="org.chw.flash.delAction"
               label="删除元数据处理器"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               overrideActionId="org.eclipse.xtext.builder.action.AddXtextNatureAction">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="org.chw.game.inject.InjectMetaDataNature">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.chw.game.config.clearup"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.chw.game.inject.inject.act.ClearupAction"
               enablesFor="1"
               icon="icons/generateAsIcon.png"
               id="org.chw.flash.clearAction"
               label="重新生成"
               menubarPath="com.adobe.flex.menu.flashcatalyst">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="org.chw.game.inject.InjectMetaDataNature">
            </objectState></visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.chw.game.inject.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.chw.game.inject.views"
            name="注入增强">
      </category>
      <view
            allowMultiple="false"
            category="org.chw.game.inject.views"
            class="org.chw.game.inject.inject.view.ModuleView"
            icon="icons/config.png"
            id="org.chw.game.inject.moduleView"
            name="模块视图"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.chw.flash.view.modules"
            targetID="org.chw.game.inject.moduleView">
         <action
               class="org.chw.game.inject.inject.view.CloseAllNode"
               icon="icons/collapseall.gif"
               id="org.chw.flash.view.act.closeAllNode"
               label="折叠所有节点"
               state="true"
               style="push"
               toolbarPath="node"
               tooltip="折叠所有节点">
         </action>
         <action
               class="org.chw.game.inject.inject.view.OpenAllNode"
               icon="icons/expandall.gif"
               id="org.chw.flash.view.act.openAllNode"
               label="展开所有节点"
               state="true"
               style="push"
               toolbarPath="node"
               tooltip="展开所有节点">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.adobe.flexbuilder.editors.mxml.ui.perspectives.development">
         <viewShortcut
               id="org.chw.game.inject.moduleView">
         </viewShortcut>
         <view
               id="org.chw.game.inject.moduleView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView"
               showTitle="true"
               visible="true">
         </view>
         <hiddenMenuItem
               id="org.chw.flash.view.act.openAllNode">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.chw.game.editor.ClientEditor"
            default="true"
            filenames="client.xml,server.xml"
            icon="icons/config.png"
            id="org.chw.game.editor.clientEditor"
            matchingStrategy="org.chw.game.editor.EditorMatching"
            name="游戏启动配置编辑器">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            description="游戏打包"
            id="org.chw.game.utils.commands.category"
            name="游戏打包">
      </category>
      <command
            categoryId="org.chw.game.utils.commands.category"
            description="游戏打包"
            id="org.chw.game.utils.commands.gamePacker"
            name="游戏打包">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.chw.game.handler.OpenGamePackerWin"
            commandId="org.chw.game.utils.commands.gamePacker">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.chw.game.utils.toolbars.sampleToolbar">
            <command
                  commandId="org.chw.game.utils.commands.gamePacker"
                  icon="icons/config.png"
                  id="org.chw.game.utils.toolbars.gamePacker"
                  tooltip="游戏打包">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   
</plugin>
