<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="org.chw.game.ui.CfgExecutableExtensionFactory:org.chw.game.ui.editor.Xml2AsEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="xml2"
              icon="icons/cfgFileIcon.png"
              id="org.chw.game.Cfg"
              name="Cfg Editor">
        </editor>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.chw.game.Cfg.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.chw.game.Cfg" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="org.chw.game.Cfg.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.chw.game.Cfg" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.chw.game.Cfg"
            name="Xml2As">
            <keywordReference id="org.chw.game.ui.keyword_Cfg"/>
        </page>
        <page
            category="org.chw.game.Cfg"
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.chw.game.Cfg.coloring"
            name="着色">
            <keywordReference id="org.chw.game.ui.keyword_Cfg"/>
        </page>
        <page
            category="org.chw.game.Cfg"
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.chw.game.Cfg.templates"
            name="模板">
            <keywordReference id="org.chw.game.ui.keyword_Cfg"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.chw.game.ui.keyword_Cfg"
            label="Cfg"/>
    </extension>

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="xml2">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="xml2">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for org.chw.game.Cfg -->
	<extension
	        id="cfg.check.fast"
	        name="Cfg Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="cfg.check.normal"
	        name="Cfg Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="cfg.check.expensive"
	        name="Cfg Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>

	<!-- Quick Outline -->
    <!-- quickfix marker resolution generator for org.chw.game.Cfg -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.chw.game.ui.cfg.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.chw.game.ui.cfg.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.chw.game.ui.cfg.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.chw.game.Cfg.compare.contentViewers"
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="xml2">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.chw.game.Cfg.compare.contentMergeViewers"
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="xml2" label="Cfg Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.chw.game.Cfg.editors.documentProviders"
            class="org.chw.game.ui.CfgExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="xml2">
    </provider>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.chw.game.cfg.ui.xml2"
           name="Xml2As 项目">
     </category>
     <wizard
           category="org.chw.game.cfg.ui.xml2"
           class="org.chw.game.ui.wizard.NewProjectWizard"
           icon="icons/cfgProjectIcon.png"
           id="org.chw.game.cfg.ui.wizard.newProject"
           name="Xml2As 库项目"
           project="true">
     </wizard>
     <wizard
           category="org.chw.game.cfg.ui.xml2"
           class="org.chw.game.ui.wizard.NewFileWizard"
           icon="icons/cfgFileIcon.png"
           id="org.chw.game.cfg.ui.wizard.newFile"
           name="Xml2As 文件"
           project="false">
     </wizard>
  </extension>
  <extension
        id="Xml2Nature"
        name="xml2特性"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="org.chw.game.builder.Xml2Nature">
        </run>
     </runtime>
     <builder
           id="org.chw.game.cfg.ui.Xml2Builder">
     </builder>
  </extension>
  <extension
        id="Xml2Builder"
        name="Xml2构建器"
        point="org.eclipse.core.resources.builders">
     <builder
           hasNature="true">
        <run
              class="org.chw.game.builder.Xml2Builder">
           <parameter
                 name="guicekey"
                 value="org.eclipse.core.resources.IncrementalProjectBuilder">
           </parameter>
        </run>
     </builder>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="com.adobe.flexbuilder.editors.mxml.ui.perspectives.development">
        <newWizardShortcut
              id="org.chw.game.cfg.ui.wizard.newProject">
        </newWizardShortcut>
        <newWizardShortcut
              id="org.chw.game.cfg.ui.wizard.newFile">
        </newWizardShortcut>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.ui.propertyPages">
     <page
           class="org.chw.game.cfg.ui.properties.OutputOptionPage"
           id="org.chw.game.cfg.ui.properties.samplePropertyPage"
           name="Xml2As"
           nameFilter="*"
           selectionFilter="single">
        <enabledWhen>
           <instanceof
                 value="org.eclipse.core.resources.IProject">
           </instanceof>
        </enabledWhen>
     </page>
  </extension>
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/cfgProjectIcon.png"
           id="org.chw.game.cfg.ui.image1"
           natureId="org.chw.game.cfg.ui.Xml2Nature">
     </image>
  </extension>

</plugin>
