<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="游戏打包"
            id="org.chw.game.utils.commands.category"
            name="游戏打包">
      </category>
      <command
            categoryId="org.chw.game.utils.commands.category"
            description="游戏打包"
            id="org.chw.game.utils.commands.gamePacker"
            name="游戏打包">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.chw.OpenGamePackerWin"
            commandId="org.chw.game.utils.commands.gamePacker">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.chw.game.utils.toolbars.sampleToolbar">
            <command
                  commandId="org.chw.game.utils.commands.gamePacker"
                  icon="src/icons/appIcon16.png"
                  id="org.chw.game.utils.toolbars.gamePacker"
                  tooltip="游戏打包">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
